certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.1.0
pip==20.2.3
prometheus-client==0.12.0
prometheus-flask-exporter==0.18.7
requests==2.26.0
setuptools==49.2.1
SQLAlchemy==1.4.29
urllib3==1.26.7
Werkzeug==2.0.2
